@font-face {
    font-family:Alight ;
    src: url(./archia-light-webfont.ttf);
}
@font-face {
    font-family:Aregular ;
    src: url(./archia-regular-webfont.ttf);
}
@font-face {
    font-family:Asemibold ;
    src: url(./archia-semibold-webfont.ttf);
}
@font-face {
    font-family:Plight ;
    src: url(./PPNeueMontreal-Light.ttf);
}
@font-face {
    font-family:Pmediam ;
    src: url(./PPNeueMontreal-Medium.ttf);
}
@font-face {
    font-family: Pregular;
    src: url(./PPNeueMontreal-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: Alight;
}

body{
    overflow-x: hidden;
    cursor: none;
    background-color: white;
}

#cursor{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: fixed;
    z-index: 999;
    background-color: #fff;
    mix-blend-mode: difference;
}

nav{
    width: 100%;
    /* background-color:gray; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vw 7vw;
    position: fixed;
    mix-blend-mode: difference;
    z-index: 9;
    color: white;
}

nav i{
    font-size: 30px;
    display: none;
    color: white;
}

.right_nav{
    display: flex;
    align-items: center;
    gap: 3vw;
}

.right_nav h4{
    font-size: .9vw;
    text-transform: uppercase;
    color: #fff;
    /* mix-blend-mode: difference; */
}

#page1{
    width: 100%;
    height: 100vh;
    background-color: white;
    position: relative;
}

#page1 video{
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

#page2{
    width: 100%;
    height: 100vh;
    color: #222222;
    background-color: #fff;
    /* padding: 1px; */
}

h3{
    font-size: 1.5vw;
    /* color:#222222; */
    font-weight: 300;
    text-align: center;
    margin-top: 12vw;
    letter-spacing: 5px;
}

.page2_content{
    height: 50%;
    width: 100%;
    display: flex;
    /* background-color: red; */
    margin-top: 6vw;
}

.page2_left{
    width: 50%;
    height: 100%;
    /* background-color: antiquewhite; */
}

.page2_left_content{
    width:70%;
    height: 100%;
    background-color: #F8F8F8;
    background-repeat: no-repeat; 
    margin: auto;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    transition: 1s linear all;
}

.page2_left_content img{
    height: 65%;
    position: absolute;
    top: 50%;
    transform: translate(-88%,-50%);
}

.page2_blur{
    width: 50%;
    height: 100%;
    background-color:rgba(255, 255, 255, 0.206);
    backdrop-filter: blur(20px);
}

.page2_right,.page3_left{
    width: 50%;
    height: 100%;
    /* background-color: aquamarine; */
    padding-right: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

#page2 h2,#page3 h2{
    font-size: 3vw;
    font-weight: 400;
}

#page2 p,#page3 p{
    font-size: 22.5px;
    font-family: Plight;
    letter-spacing: 1px;
    line-height: 28px;
}

button{
    font-family: Pregular;
    color: #222222;
    font-size: 18px;
    padding: 1vw 2vw;
    background-color: transparent;
    border-radius: 40px;
    letter-spacing: 1px;
}

#page3{
    height: 60vh;
    width: 100%;
    display: flex;
}

.page3_left{
    padding: 0 0 0 5vw;
}

#page3 video{
    width: 35%;
    height: 50vh;
    margin-left: 10vw;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
}

#page4{
    width: 100%;
    min-height: 100vh;
    background-image: url('./bg.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 8vw;
    padding-bottom: 30vw;
    position: relative;
}

#page4 h3{
    position: absolute;
    text-transform: uppercase;
    margin-top: 5vh;
    left: 50%;
    transform: translateX(-50%);
}
.page4_top{
    width: 100%;
    height: 130px;
    margin-top: -1px;
}

.helmet{
    width: 100%;
}